[[Sites]]
  Name = "Sample"
  ClientID = ""
  ClientSecret = ""
  RefreshToken = ""
  AccessToken = ""
  ExpiresAt = 2016-01-01T01:23:45Z
  AuthURL = "https://"
  Scopes = ["https://"]
  TokenURL = ""
